/* Font Style */
.quicksand-normal {
  font-family: "Quicksand", serif;
  font-optical-sizing: auto;
  font-style: normal;
}
/* General Styles reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* Shared styles */
.nav-logo,
.nav-link a,
nav button,
.welcome-text h2,
.welcome-text p,
.welcome-text button,
.curriculum-box h4,
.curriculum-box p,
.curriculum-box a,
.stories-container .article h5,
.stories-container .article p,
.stories-container .article a,
.story-card h6,
.section-title,
button,
.bg-color-black,
.bg-color-orange,
.bg-color-skyblue {
    font-family: quicksand;
}
.article img,
.story-card img {
    width: 100%;
    height: 60%;
    border-radius: 5px;
}
.section-title {
    text-align: center;
    color: rgb(0, 0, 0);
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 2.25rem;
    padding: 1.5vh 10vw;
}
.text-decoration {
    text-decoration: none;
}
.bg-color-black {
    background-color: rgb(17, 17, 17);
    color: #fff;
    border-radius: 5px;
    font-weight: 700;
    padding: 0.5rem 1.5rem;
}
.bg-color-orange {
    background-color: rgb(254, 163, 1);
}
.bg-color-skyblue {
    background-color: rgb(1, 172, 253);
}
.bg-color-purple {
    background-color: rgb(93, 88, 239);
}
.bg-color-lightgreen {
    background-color: rgb(149, 178, 38);
}
.color-orange {
    color: rgb(254, 163, 1);
}
.color-skyblue {
    color: rgb(1, 172, 253);
}
.date-button {
    font-size: 0.75rem;
    font-weight: 500;
    color: #fff;
    border: none;
    border-radius: 2rem;
    padding: 0.5rem 0.75rem;
    position: relative;
    z-index: 10;
    top: -1rem;
}
/* Header */
header {
    padding: 1vh 10vw;
}
/* Header Nav */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-logo {
    display: flex;
    align-items: center;
    font-size: 1.5rem;
    font-weight: 700;
    letter-spacing: 0%;
    color: rgb(17, 17, 17);
}
.nav-link {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-link a {
    font-size: 1rem;
    font-weight: 500;
    margin: 0 1rem;
}
nav button {
    font-size: 1rem;
    font-weight: 500;
    padding: 0.5rem 1.5rem;
    border: none;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
}
/* Hero Section */
.hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: auto;
}
.welcome-text {
    width: 48%;
}
.welcome-text h2 {
    font-size: 2rem;
    font-weight: 700;
}
.welcome-text p {
    font-size: 1rem;
    font-weight: 500;
    color: rgb(17, 17, 17);
    margin: 1rem 0;
}
.welcome-text button {
    font-size: 1rem;
    border: none;
}
.banner img {
    width: 48%;
}

/* Curriculum Section */
.about {
    background-image: url('images/bg.png');
    text-align: center;
}
.curriculum-container {
    display: flex;
    justify-content: space-between;
    align-items: cnter;
    padding: 0 10vw;
}
.curriculum-box {
    text-align: center;
    width: 30%;
    padding: 2vh 2vw;
}
.box1 {
    border: 0.94px solid rgb(222, 245, 255);
    border-radius: 18.86px;
    box-shadow: inset 0px 0px 28.3px 0.94px rgba(0, 0, 0, 0.05);
    background: linear-gradient(180.00deg, rgb(222, 245, 255),rgba(255, 255, 255, 0) 40%),rgb(255, 255, 255);
}
.box2 {
    border: 0.94px solid rgb(255, 244, 220);
    border-radius: 18.86px;
    box-shadow: inset 0px 0px 28.3px 0.94px rgba(0, 0, 0, 0.05);
    background: linear-gradient(180.00deg, rgb(255, 244, 220),rgba(255, 255, 255, 0) 40%),rgb(255, 255, 255);
}
.box3 {
    border: 0.94px solid rgb(242, 232, 255);
    border-radius: 18.86px;
    box-shadow: inset 0px 0px 28.3px 0.94px rgba(0, 0, 0, 0.05);
    background: linear-gradient(180.00deg, rgb(238, 225, 255),rgba(255, 255, 255, 0) 40%),rgb(255, 255, 255);
}
.box3 a {
    color: rgb(135, 0, 255);
}
.curriculum-box h4 {
    font-size: 1.5rem;
    font-weight: 700;
    margin: 1rem 0;
}
.curriculum-box p {
    font-size: 1rem;
    font-weight: 500;
    color: rgb(17, 17, 17);
    margin: 1rem 0;
}
.curriculum-box a {
    font-size: 1rem;
    font-weight: 500;
    text-decoration: none;
    border: none;
    cursor: pointer;
    transition: color 0.3s ease;
}

.slide-btn-container {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 20px;
}
.slide-btn {
    border: none;
    padding: 10px;
    border-radius: 50%;
    color: #fff;
    font-size: 1.5rem;
}
/* Stories Section */
.stories {
    background: url('images/bg.png'),linear-gradient(0.00deg, rgba(254, 163, 1, 0.3),rgba(255, 255, 255, 0.3) 100%);
    text-align: center;
    padding-bottom: 1vh;
}
.stories-container {
    display: flex;
    justify-content: space-between;
    padding: 1vh 10vw;
}
.stories-container .article {
    width: 48%;
    height: 100%;
    border-radius: 5px;
    padding-bottom: 0.75rem;
    flex-direction: column;
    position: relative;
    background-color: #fff;
}
.stories-container .article img {
    width: 100%;
    height: 60%;
    border-radius: 5px;
}
.stories-container .article button {
    font-size: 1rem;
    border: none;
    background: rgb(60, 216, 232);
    padding: 0.5rem 1rem;
    border-radius: 2rem;
    position: relative;
    z-index: 10;
    top: -1.5rem;
}

.stories-container .article h5 {
    font-size: 1.5rem;
    font-weight: 700;
    margin: 1rem 0;
}
.stories-container .article p {
    font-size: 1rem;
    font-weight: 300;
    margin: 2.5rem;
}
.card-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    width: 50%;
    height: 100%;
}
.story-card {
    border-radius: 5px;
    background-color: #fff;
}
.story-card h6 {
    font-size: 1rem;
    font-weight: 700;
    padding: 1rem;
}
.story-card p {
    font-size: 1rem;
    font-weight: 300;
}
.story-card a {
    font-size: 1rem;
    font-weight: 500;
    text-decoration: none;
    border: none;
    cursor: pointer;
    transition: color 0.3s ease;
}
.story-card img {
    width: 100%;
    height: 60%;
    border-radius: 5px;
}
.story-card button {
    font-size: 0.75rem;
    border: none;
    cursor: pointer;
}

/* Footer */
footer {
    width: 100%;
    height: 20vh;
    display: flex;
    justify-content: space-between;
    padding: 2vh 10vw;
    color: #fff;
}
footer section {
    width: 30%;
}
.footer-logo {
    display: flex;
    font-size: 1.5rem;
    font-weight: 700;
    align-items: center;
    margin: bottom 1.5 rem;
}
.social-link {
    align-items: right;
}
.footer-about ul li {
    list-style: none;
    margin: 0.5rem 0;
}
.footer-about ul li a {
    text-decoration: none;
    color: #fff;
}
footer .contact {
    text-align: right;
}
footer .contact h2 {
    margin-right: 1rem;
}