/* Font Style */
.quicksand-normal {
  font-family: "Quicksand", serif;
  font-optical-sizing: auto;
  font-style: normal;
}
/* General Styles reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* Shared styles */
.section-title {
    text-align: center;
    color: rgb(0, 0, 0);
    font-family: quicksand;
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 2.25rem;
    padding: 1.5vh 10vw;
}
.text-decoration {
    text-decoration: none;
}
.bg-color-black {
    background-color: rgb(17, 17, 17);
    color: #fff;
    border-radius: 5px;
    font-weight: 700;
    padding: 0.5rem 1.5rem;
}
.bg-color-orange {
    background-color: rgb(254, 163, 1);
}
.bg-color-skyblue {
    background-color: rgb(1, 172, 253);
}
.bg-color-purple {
    background-color: rgb(93, 88, 239);
}
.bg-color-lightgreen {
    background-color: rgb(149, 178, 38);
}
.color-orange {
    color: rgb(254, 163, 1);
}
.color-skyblue {
    color: rgb(1, 172, 253);
}

/* Header */
header {
    padding: 1vh 10vw;
}
/* Header Nav */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-logo {
    display: flex;
    align-items: center;
    font-family: quicksand;
    font-size: 1.5rem;
    font-weight: 700;
    letter-spacing: 0%;
    color: rgb(17, 17, 17);
}
.nav-link {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-link a {
    font-family: quicksand;
    font-size: 1rem;
    font-weight: 500;
    margin: 0 1rem;
}
nav button {
    font-family: quicksand;
    font-size: 1rem;
    font-weight: 500;
    padding: 0.5rem 1.5rem;
    border: none;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
}
/* Hero Section */
.hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: auto;
}
.welcome-text {
    width: 48%;
}
.welcome-text h2 {
    font-family: quicksand;
    font-size: 2rem;
    font-weight: 700;
}
.welcome-text p {
    font-family: quicksand;
    font-size: 1rem;
    font-weight: 500;
    color: rgb(17, 17, 17);
    margin: 1rem 0;
}
.welcome-text button {
    font-family: quicksand;
    font-size: 1rem;
    border: none;
    cursor: pointer;
}
.banner img {
    width: 48%;
}

/* Curriculum Section */
.about {
    background-image: url('images/bg.png');
    text-align: center;
}
.curriculum-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10vw;
}
.curriculum-box {
    text-align: center;
    width: 30%;
    border: 1px solid rgb(17, 17, 17);
    padding: 2vh 2vw;
}
.curriculum-box h4 {
    font-family: quicksand;
    font-size: 1.5rem;
    font-weight: 700;
    margin: 1rem 0;
}
.curriculum-box p {
    font-family: quicksand;
    font-size: 1rem;
    font-weight: 500;
    color: rgb(17, 17, 17);
    margin: 1rem 0;
}
.curriculum-box a {
    font-family: quicksand;
    font-size: 1rem;
    font-weight: 500;
    text-decoration: none;
    border: none;
    cursor: pointer;
    transition: color 0.3s ease;
}


.slide-btn-container {
    display: flex;
    justify-content: center;
    gap: 1rem;
    align-items: center;
    width: 8vw;
    margin: 2rem auto 0 auto;
}

.slide-btn {
    font-size: 2rem;
    font-weight: 500;
    width: 45%;
    padding: 0.5rem 1.5rem;
    border: none;
    border-radius: 50%;
    color: #fff;
    cursor: pointer;
}
/* Stories Section */
.stories {
    background-image: url('images/bg.png');
    text-align: center;
}
.stories-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10vw;
}
.small-card-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}